.app-card {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 20px;
    margin: .5rem;

    border-radius: .5rem;
    background-color: rgba(32, 32, 35, 0.48);

    text-align: left;
    font-family: system-ui, sans-serif;
}

a {
    text-decoration: none;
}

/* APP INFO */
.app-card__info {
    display: flex;
    flex-direction: column;
}

.app-card__title {
    font-weight: 600;
    font-size: 20px;
    color: #2563eb; /* blue */
}

.app-card__type {
    font-size: 14px;
    color: #6b7280;
}

/* CENTER */
.app-card__center {
    display: flex;
    align-items: center;
    gap: 10px;

    color: #6b7280;
}

.label {
    font-size: 14px;
}

.client-id {
    background: #d3d2d2;
    padding: .25rem .5rem;
    border-radius: .25rem;

    font-family: monospace;
    font-size: 14px;
    color: rgba(57, 56, 56, 0.75);
}